# ==============================================================================
# TEMPLATE: autoexec.sh.tmpl
# DESCRIPTION: A bash script template used to generate the user's autoexec.sh,
#              which sets up environment variables and useful aliases/hints on login.
# ==============================================================================
if [ -f "$HOME/autoexec.sh" ]; then
  . "$HOME/autoexec.sh"
else
  touch "$HOME/autoexec.sh"
cat << 'EOF' > "$HOME/autoexec.sh"
#!/usr/bin/env bash
# autoexec.sh is run from .bashrc when loggin in to
# the terminal. This is just an alternate location
# to keep .bashrc as clean (oem) as possible.

bash --version
echo
echo "Type cheat -l to list personal tagged cheatsheets."
echo "Type glow <somefile.md> to view markup"
echo "Use <shellcheck script.sh> to run lint on bash scripts"
echo "Type bm to launch an interactive launcher menu"
echo "If apt is broken, try sudo apt --fix-broken install"
echo
export PATH=$PATH:~/scripts
EOF

fi
