alias weather='curl wttr.in/49079'
alias weather2='curl v2.wttr.in/49079'
alias weather3='curl wttr.in/49079?format=4'
alias glow='glow -w 0'
alias shfmt="shfmt -i 4 -bn -w"
alias cheat="/home/andrew/scripts/cheat/cheat.sh"
alias bm="{bashmenu_dir}/bashmenu.sh"
alias glyph="{home}/scripts/nerd/glyph.sh"
alias sudo="sudo "

